@page "/product/{id:int}"

@inject NavigationManager navigationManager
@inject IViewProductUseCase viewProductUseCase
@inject IAddProductToCartUseCase addProductToCartUseCase

<h3>Product Details</h3>

<div class="card" style="width: 28rem;">
  <div class="card-body">
      <img src="@product.ImageLink" />
    <h5 class="card-title">@product.Name</h5>
    <h6 class="card-subtitle mb-2 text-muted">@product.Brand</h6>
    <hr />
    <p>
        Price: <label style="color:darkred">@product.Price.ToString("C")</label>
    </p>
    <p class="card-text">@product.Description</p>
    
  </div>
  <button class="btn btn-primary" @onclick="AddToCart">AddToCart</button>
</div>
<br />
<NavLink href="products">Back to all products</NavLink>

@code {
    private Product product;

    [Parameter]
    public int Id { get; set; }

    protected override void OnParametersSet() /*kada user navigetea na ovaj page onda ovaj parametar dobiva value i kada Id-parametar dobije value onda se poziva OnParameterSet()*/
    {
        base.OnParametersSet(); /*kada je parametar promijenjen*/

        if(Id>0)
        {
            product = viewProductUseCase.Execute(Id);
        }
    }

    private void AddToCart()
    {
        addProductToCartUseCase.Execute(product.Id);
        navigationManager.NavigateTo("/");
    }

}
